.wrapper.yellow
    .container
        header.menu
            a(href="#").menu__logo Movee
            .icon
                span
                span
                span
            
            .menu__list
                ul
                    li
                        a(href="#") Цены
                    li 
                        a(href="#") Автопарк
                    li
                        a(href="#") Отзывы
                    li
                        a(href="#") Контакты
                        
            a(href="tel:88000801213").menu__phone 8(800)-080-12-13
        .header__body
            .header__title  
                h1 Квартирные переезды
                h3 По Москве и области
                a(href="#").header__btn.btn Заказать
                .header__items
                    .header__item
                        img(src="img/header/01.svg", alt="")
                        .header__text Более 800 переездов
                    .header__item
                        img(src="img/header/02.svg", alt="")
                        .header__text Бережная упаковка
                    .header__item
                        img(src="img/header/03.svg", alt="")
                        .header__text Фиксированная цена
            .header__images
                .header__man 
                    img(src="img/header/man.png", alt="")
                .header__car
                    img(src="img/header/car.png", alt="")
                .header__phone  
                    a(href="#") 
                        img(src="img/header/phone.svg", alt="")