.wrapper.yel-footer
    .container
        .footer
            .footer__1
                .footer__1-logo
                    a(href="#") Movee
                .footer__1-text 
                    a(href="#") Политика конфиденциальнности
                .footer__1-text 
                    a(href="#") Соглашение на обработку персональных данных
            .footer__2
                .footer__2-menu
                    ul
                        a(href="#") 
                            li Главная
                        a(href="#") 
                            li Цена
                        a(href="#") 
                            li Автопарк
                        a(href="#") 
                            li Отзывы
                        a(href="#") 
                            li Контакты
            .footer__3
                .footer__3-icons
                    a(href="#") 
                        img(src="../img/content/icon_small_01.svg", alt="")
                    a(href="#")
                        img(src="../img/content/icon_small_02.svg", alt="")
                    a(href="#")
                        img(src="../img/content/icon_small_03.svg", alt="")
                    a(href="#")
                        img(src="../img/content/icon_small_04.svg", alt="")
                .footer__3-email
                    a(href="mailto:hello@movee.ru") hello@movee.ru 
            .footer__4
                .footer__4-btn Обратный звонок
                .footer__4-phone 
                    a(href="tel:88000801213") 8 (800)-080-12-13
            a(href="#").footer__5-btn.btn-yel Заказать